############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Docker
############################

*.dockerignore
.docker/
compose/
docker-compose.yml
celerybeat-schedule

############################
# Python
############################
data/
samples/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
*.venv
*.env
*.env.sample
.envrc
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
pyproject.toml

############################
# Packages
############################

*.7z
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json

############################
# General Development
############################

# Ignore any general development files or directories here, like:
.vscode/
.idea/
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp